html, body {
  width: 600px;
  height: 100px;
}
#header {
  width:100%;
  background-color: #153E85;
  display:flex;
  flex-direction: center;
  justify-content: center;
}
#title{
  font-family: "Avenir";
  font-size: 20px;
  font-weight: 100;
  color: #FFFFFF;
  line-height: 2.75rem;
}

#operateOnThisPage{
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin:10px;

}
.buttonContainer{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
#message{
  margin-left:10px;
  margin-right: 10px;
  font-family: "Avenir";
  font-size: 12px;
  color: #333333;
}

#qrcode{
  margin-top: 25px;
}

#form{
  display:flex;
  flex-direction: column;
  border:1px solid #888888;
  margin: 10px;
  padding:10px;
  background-color: #FFFFFF;
}
.field {
  margin: 10px;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.field label{
    width:50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin:5px;
}
.field input{
      width:200px;
      margin-right: 5px;
}
