html, body {
  margin:0;
  padding:0;
}
#header {
  width:100%;
  background-color: #153E85;
  display:flex;
  flex-direction: center;
  justify-content: center;
}
#content {
  padding: 10px;
}
#title{
  font-family: "Avenir";
  font-size: 20px;
  font-weight: 100;
  color: #FFFFFF;
  white-space: nowrap;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:30px;
  padding-right:30px;
}
.title{
  font-family: "Avenir";
  font-size: 24px;
  font-weight: 100;
  color: #153E85;
  white-space: nowrap;
  padding:10px;
}

.controlButton{
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin:10px;
  cursor: pointer;
  white-space: nowrap;
  border-radius:4px;
}
.button{
  margin-right: 30px;
  margin-top: 30px;
  color:#008CBA;
  padding:10px;
  cursor: pointer;
}



.buttonContainer{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.buttonContainer2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.menuContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top:10px;
}
.menu{
  margin-bottom: 10px;
  color:#008CBA;
  margin-left: 10px;
  cursor: pointer;
}
#message{
  margin-left:10px;
  margin-right: 10px;
  font-family: "Avenir";
  font-size: 12px;
  color: #333333;
}
.message{
  margin-left:10px;
  margin-right: 10px;
  font-family: "Avenir";
  font-size: 12px;
  color: #333333;
}

#qrcode{
  margin: 20px;

}

#form{
  display:flex;
  flex-direction: column;
  border:1px solid #888888;
  margin: 10px;
  padding:10px;
  background-color: #FFFFFF;
}
.fielrow{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eeeeee;
}
.field {
  width:100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.textInput{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

}
.textInput{
  width:100%;
}
.field label{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.field input{
    margin-right: 5px;
    min-width:200px;
}
.deleteButton{
    color:red;

}
.radioLabel{
    white-space: nowrap;
    padding-left:5px;
}
.radioButton{
  margin-left:10px;
  margin-right: 5px;
}
